div{
	width:100%;
	height:18000px; 
}
#Anim{
	position: sticky;
	top: 0px;
}
#modalTest{
    margin : 30px ;
    padding : 20px ;
    border : 5px solid maroon ;
    background-color : lightgreen ;
}
