@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

header, div, ul, li, h1, h2, h3, h4, h5, h6, b, nav, p, footer {
	font-size: 1.1vw;
	color: #fcfcfc;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 768px) and (orientation:portrait) {
	header, div, ul, li, h1, h2, h3, h4, h5, h6, b, nav, p, footer {
		font-size: 4vw;
	}
}

/*header*/
header, video{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

header{
	display: block;
}

header #logo{
	position: absolute;
	top: 22.5px;
	left: 22.5px;
}
header #logo2{
	position: absolute;
	bottom: 22.5px;
	left: 22.5px;
}

header #logo img {
	display: inline-block;
	height: 60px;
	z-index: 9999;
}

header #logo2 img {
	display: inline-block;
	height: 65px;
	z-index: 9999;
}

header ul{
	float: right;
	position: absolute;
	top: 35px;
	right: 20px;
	color: #E62766;
}

header ul li {
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	margin-left: 20px;
	float: left;
	color: #E62766;
}

header ul li a {
	color:#E62766;
	text-decoration: none;
}


html {
	width: 100%;
	height: 100%;
}

body {
	/*   margin: 60px; */
	/*  IE8以下の代替の背景画像  */
	position:relative;
	width: 100%;
	height:11700px; 

	background: black;
	background-attachment: fixed;
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic";
	font-feature-settings: "palt";
}

a {
	text-decoration: none;
	color: #ffffff;
}

a.hover {
	opacity: 0.5;
	cursor: pointer;
}

.tabs{
	z-index: 9999;
}

.fixed {
	position:fixed;
	width:100%;
	height:100%;
}


/*modal of exhibitors*/
#modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

#modal #modal_wrapper {
	position:relative;
	margin: 0 auto;
	margin-top: 3%;
}

#modal #modal_wrapper #close_button {
	position:absolute;
	left: 50%;
	top: 4%;
	color: black;
	z-index: 200;
	margin-left: 16%;
}

@media only screen and (max-width: 768px) and (orientation:portrait) {
	#modal #modal_wrapper #close_button {
		top: 2%;
		margin-left: 30%;
		margin-bottom: : 5%;
	}
}

#modal #modal_wrapper #close_button:hover{
	cursor:pointer;
}

#modal #modal_wrapper .single_member_wrapper {
	display: none;
	position: relative;
	width: 30%;
	height: 70vh;
	padding: 5%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#modal #modal_wrapper .single_member_wrapper {
		position: relative;
		width: 70%;
		height: 50%;
		margin-top: 40%;
		padding: 12% 5%;
	}
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents{
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-height: 90vh;
	overflow: scroll;
}
.single_member_contents::-webkit-scrollbar {
  display: none;
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_img{
	position: relative;
	width: 100%;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_img {
		position: relative;
		width: 100%;
	}
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_img img {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_img img {
		position: relative;
		width: 100%;
	}
}

.caption{
	color: black;
	text-align: right;
	font-size: 0.8vw;
	padding-top: 2px;
	padding-bottom: 8px;
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 3% 0;
	text-align: left;
}

@media only screen and (max-width: 768px) and (orientation:portrait) {
	#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info{
		width: 100%;
	}
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .modal_text {
	color: black;
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .name-jp {
	position: relative;
	float: left;
	width: 50%;
	font-weight: bolder;
	padding: 2% 0;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .name-jp{
		width: 100%;
	}
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .labo-name {
	position: relative;
	float: right;
	width: 50%;
	font-weight: bolder;
	text-align: right;
	padding: 2% 0;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .labo-name{
		width: 100%;
		text-align: left;
	}
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .bio {
	position: relative;
	width: 100%;
	padding: 2% 0;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .link{
		width: 100%;
	}
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .link{
	position: relative;
	display: block;
	width: 100%;
	padding: 2% 0;
}

#modal #modal_wrapper .single_member_wrapper .single_member_contents .exhi_modal_info .link a {
	width: 100%;
	color: gray;
}


/*container*/
#container {
	position: fixed;
	width: 100%;
	height: 100%;
}

#container .top-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 5%;
	border-bottom: 1px solid #fcfcfc;
}

#container .top-wrapper header {
	position: relative;
	width: 100%;
	height: 100%;
}

#container .top-wrapper header #header_menu {
	display: none;
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	height: 10%;
	background-color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 768px) and (orientation:portrait) {
	#container .top-wrapper header #header_menu {
		background-color: black;
	}
}


#container .top-wrapper header #header_menu .header_menu_wrapper {
	position: relative;
	z-index: 200;
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) and (orientation:portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper {
		position: relative;
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
}

#container .top-wrapper header #header_menu .header_menu_wrapper .logo_wrapper {
	position: absolute;
	width: 40%;
	height: 100%;
	float: left;
}

@media only screen and (max-width:768px) and (orientation: portrait){
	#container .top-wrapper header #header_menu .header_menu_wrapper .logo_wrapper {
		position: relative;
		width: 80%;
		height: 100%;
		z-index: 200;
	}
}

#container .top-wrapper header #header_menu .header_menu_wrapper .logo_wrapper .header_menu_logo {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu {
	position: relative;
	width: 55%;
	height: 100%;
	float: right;
}

@media only screen and (max-width:768px) and (orientation:portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 10%;
		right: -150%;
	}
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav {
	z-index: 99999;
	height: 100%;
}

@media only screen and (max-width: 768px) and (orientation: portrait){
	#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav{
		position: relative;
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 1vw;
}

@media only screen and (max-width:768px) and (orientation: portrait){
	#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul li {
		display: table;
		table-layout: fixed;
		text-align: left;
		font-size: 4vw;
		width: 100%;
		height: 10%;
		border-bottom: 1px solid #fcfcfc;
	}
}

@media only screen and (max-width: 768px) and (orientation: portrait){
	#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul li a {
		display: table-cell;
		vertical-align: middle;
	}
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul li a .sp_jpmenu {
	display: none;
}

@media only screen and (max-width: 768px) and (orientation: portrait){
	#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul li a .sp_jpmenu {
		display: inline;
		font-size: 3vw;
		padding-left: 3vw;
	}
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul .non-active{
	color:gray;
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul .current{
	background-color: #fcfcfc;
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul .current a{
	color: black;
}

#container .top-wrapper header #header_menu .header_menu_wrapper #slide_menu nav ul .current .non-active{
	color: gray;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper .openNav {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 10%;
		background-color: black;
		left: 0;
	}
}
#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav {
	z-index: 99999;
	height: 100%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav {
		position: relative;
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
}
#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav ul {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
}
#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav ul li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 1.2vw;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav ul li {
		display: table;
		table-layout: fixed;
		text-align: left;
		font-size: 5vw;
		width: 100%;
		height: 10%;
		border-bottom: 1px solid #fcfcfc;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav ul li a {
		display: table-cell;
		vertical-align: middle;
	}
}
#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav ul li a .sp_jpmenu {
	display: none;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper .openNav nav ul li a .sp_jpmenu {
		display: inline;
		font-size: 3vw;
		padding-left: 3vw;
	}
}
#container .top-wrapper header #header_menu .header_menu_wrapper .menu_bar_wrapper {
	position: relative;
	height: 100%;
	display: none;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header #header_menu .header_menu_wrapper .menu_bar_wrapper {
		position: relative;
		display: table;
		font-size: 30px;
		float: right;
		height: 100%;
	}
	#container .top-wrapper header #header_menu .header_menu_wrapper .menu_bar_wrapper .fa-bars {
		display: table-cell;
		vertical-align: middle;
	}
}
#container .top-wrapper header .video_wrapper {
	position: relative;
	width: 100%;
}
#container .top-wrapper header .video_wrapper video {
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 60%;
	height: auto;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .video_wrapper video {
		display: none;
	}
}
#container .top-wrapper header .video_wrapper #logo_video_sp {
	display: none;
	z-index: -9999;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .video_wrapper #logo_video_sp {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 95%;
		height: auto;
		overflow: hidden;
	}
}
#container .top-wrapper header .title_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 80%;
	height: 80%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .title_wrapper {
		position: absolute;
		width: 60%;
		height: 60%;
	}
}
#container .top-wrapper header .title_wrapper img {
	position: relative;
	width: 100%;
}
#container .top-wrapper header .title_wrapper .title_top {
	position: relative;
	top: 0;
	display: block;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .title_wrapper .title_top {
		position: relative;
		top: 0;
		display: none;
	}
}
#container .top-wrapper header .title_wrapper .title_top_sp {
	position: relative;
	top: 0;
	display: none;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .title_wrapper .title_top_sp {
		position: relative;
		top: 0;
		display: block;
	}
}
#container .top-wrapper header .title_wrapper .title_bottom {
	position: absolute;
	bottom: 0;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .title_wrapper .title_bottom {
		position: absolute;
		display: none;
	}
}
#container .top-wrapper header .title_wrapper .title_bottom_sp {
	position: relative;
	bottom: 0;
	display: none;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .title_wrapper .title_bottom_sp {
		position: absolute;
		display: block;
		bottom: 0;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .top-wrapper header .angle_wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-align: center;
	}
}
#container .top-wrapper header .angle_wrapper .angle_down {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	bottom: 0;
}
#container .top-wrapper header .angle_wrapper .angle_down .fa {
	font-size: 50px;
}

#container .bottom_wrapper {
	z-index: 0;
	position: relative;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
}
#container .bottom_wrapper .base-modal .bottom_section {
	display: block;
	width: 100%;
	padding: 0;
	/*border-bottom: 1px solid #fcfcfc;*/
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	width: 70%;
	height:auto;
	max-height: 100%;
	overflow:scroll;
}
.section_contents::-webkit-scrollbar {
  display: none;
}

#container .bottom_wrapper .base-modal .bottom_section .section_contents .main_text{

}
#container .bottom_wrapper .base-modal .bottom_section .section_contents table {
	width: 100%;
	border-collapse: collapse;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents {
		position: relative;
		width: 85%;
		margin: 0 auto;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents h1 {
	text-align: center;
	font-size: 1.3em;
	letter-spacing: 0.3em;
	padding: 5% 0;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents h1 {
		font-size: 5vw;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents h2 {
	text-align: center;
	font-size: 1em;
	padding: 2% 0;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents h2 {
		font-size: 4vw;
	}
}


#container .bottom_wrapper .base-modal .bottom_section .section_contents #info_title {
	text-align: left;
	font-size: 1.7em;
	padding: 0% 0;
}



#container .bottom_wrapper .base-modal .bottom_section .section_contents h3 {
	font-size: 1em;
	padding: 2% 0;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents h3 {
		font-size: 4vw;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents p {
	line-height: 2.1em;
	padding: 0.5% 0;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents span {
	line-height: 1.8em;
	padding: 0.1% 0;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .outline_signature {
	text-align: right;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .info-table {
	position: relative;
	width: 100%;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .info-table .info-name {
	float: left;
	padding: 2% 0;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .info-table .info-contents {
	float: right;
	padding: 2% 0;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper {
	position: relative;
	width: 53%;
	margin: 0 auto;
	height: auto;
	text-align: center;
	padding: 10px 0;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper {
		width: 100%;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper h2 {
	position: relative;
	width: 100%;
	margin: 0 auto 20px auto;
	margin-bottom: 20px;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper .exhi-row {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 40px;
	margin: 0 auto;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper .exhi-row {
		position: relative;
		width: 100%;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper .exhi-row .exhi {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 25%;
	padding: 5px 0;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper .exhi-row .exhi .exhi-img img {
	position: relative;
	width: 100%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper .exhi-row .exhi {
		font-size: 3vw;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .exhibitors-wrapper .exhi-row .exhi .fa-external-link {
	padding-left: 5px;
	color: gray;
	opacity: 0.8;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event {
	position: relative;
	width: 100%;
	padding: 20px 0;
	margin-bottom: 20px;
	border: 1px solid #FFFFFF;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event p {
	text-align: center;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table {
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-collapse: separate;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table {
		position: relative;
		width: 90%;
		margin: 0 auto;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table a {
	color: black;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table tbody {
	position: relative;
	width: 100%;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table tbody tr {
	position: relative;
	width: 100%;
	height: 80px;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table tbody tr th {
	position: relative;
	width: 30%;
	text-align: left;
	padding: 10px;
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .event .event_table tbody tr td {
	position: relative;
	width: 30%;
	padding: 10px;
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening {
	padding: 20px 0;
	border: 1px solid #FFFFFF;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening p {
	text-align: center;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening p {
		position: relative;
		width: 90%;
		margin: 0 auto;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table {
	position: relative;
	width: 90%;
	margin: auto;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table {
	position: relative;
	width: 100%;
	border-collapse: separate;
	border-spacing: 3px 15px;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table {
		border-spacing: 5px;
		text-align: center;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody {
	position: relative;
	width: 100%;
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr {
	position: relative;
	width: 100%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr th {
		position: relative;
		width: 100%;
		display: block;
		text-align: center;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr td {
	position: relative;
	width: 26%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr td {
		position: relative;
		width: 100%;
		display: block;
		text-align: center;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr .table_header {
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 5%;
	padding: 5px;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr .table_header {
		position: relative;
		width: 90%;
		display: block;
		margin: 0 auto;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr .sc_title {
	position: relative;
	width: 50%;
	padding: 0;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr .sc_title {
		position: relative;
		width: 100%;
		display: block;
		padding-top: 10px;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr .sc_time {
	position: relative;
	width: 10%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .bottom_section .section_contents .screening .screening_table table tbody tr .sc_time {
		position: relative;
		width: 100%;
		display: block;
		text-align: center;
	}
}
#container .bottom_wrapper .base-modal .bottom_section .sect_exhi {
	width: 100%;
	margin: 0;
}
#container .bottom_wrapper .base-modal #access {
	border-bottom: hidden;
	padding-bottom: 8%;
	height: 100%;
}
#container .bottom_wrapper .base-modal #access #access_section {
	position: relative;
	width: 96%;
	height: 100%;
}
#container .bottom_wrapper .base-modal #access .section_contents .access_wrapper {
	position: relative;
	margin: auto;
	width: 99%;
	height: 99%;
}
#container .bottom_wrapper .base-modal #access .section_contents .access_wrapper #access_map {
	position: fixed;
	width: 44%;
	padding-left: 4%;
	padding-right: 2%;
	height: 70%;
	margin: 0;
	display: inline-block;
}
#container .bottom_wrapper .base-modal #access .section_contents .access_wrapper #access_text {
	position: fixed;
	width: 44%;
	padding-left: 2%;
	padding-right: 4%;
	height: 40%;
	margin: 0;
	display: inline-block;
}
#container .bottom_wrapper .base-modal .access .section_contents .access_wrapper #access_map .mapInfo {
	font-size: 0.8em;
	color: black;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container .bottom_wrapper .base-modal .access .section_contents .access_wrapper #access_map .mapInfo {
		font-size: 3vw;
	}
}
#container footer {
	position: relative;
	width: 100%;
	height: 10%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container footer {
		text-align: center;
	}
}
#container footer #copyright {
	position: fixed;
	right: 2%;
	bottom: 22.5px;
	font-style: italic;
	font-size: 1em;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container footer #copyright {
		position: relative;
		width: 100%;
		bottom: 5%;
		left: 0;
		clear: both;
		margin-bottom: 10%;
	}
}
#container footer #angle_up {
	width: 100%;
	font-size: 50px;
	text-align: center;
	padding-bottom: 10%;
}

#container footer #social {
	position: fixed;
	right: 2%;
	bottom: 6%;
	font-style: italic;
	font-size: 23px;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
	#container footer #social {
		position: relative;
		width: 100%;
		bottom: 5%;
		left: 0;
		clear: both;
		margin-bottom: 10%;
	}
}

#movie {
	margin: 0 auto;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
#movie #movie-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index:9999;
}
#movie #movie-wrapper iframe{
	border:none;
	width: 100%;
	height: 100%;
}
#movie #movie-wrapper #video_close_button{
	position: absolute;
	top: 8px;
	right: -56px; 
}

/*# sourceMappingURL=style.css.map */

#Anim{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	padding: 0px;
	z-index: -100;
	opacity: 0.15;
}

#allow_img{
	display: none;
	position: fixed;
	top: 45%;
	left: 46.6%;
	opacity: 0.7;
	font-size:110px;
}


.base-modal{
	position: fixed;
	display: block;
	width: 80%;
	height: 70%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border : 2px solid #E62766;
	background-color : rgba(0,0,0,0.8);
	z-index: 0;
	display: none;
}
.base-modal h1{
	opacity: 1.0;
}